<div class="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="producto">productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="carritocompras">Carrito de compras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="registro">registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
        </li>
    </ul>

</div>