<div class="album py-5 bg-light">
    <div class="container">
        <label id="h3d" for=""> Ingrese Producto </label>
        <form (ngSubmit)="subidaValores()">
            <div class="mb-3">
                <label for="c1" class="form-label">Codigo</label>
                <input [(ngModel)]="codigo" name="codigo" type="text" class="form-control" id="c1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="n1" class="form-label">Nombre</label>
                <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" id="n1">
            </div>
            <div class="mb-3">
                <label for="p1" class="form-label">Precio</label>
                <input [(ngModel)]="precio" name="precio" type="number" class="form-control" id="p1">
            </div>
            <div class="mb-3">
                <label for="s1" class="form-label">Stock</label>
                <input [(ngModel)]="stock" name="stock" type="number" class="form-control" id="s1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        <label id="h3d" for=""> Productos Ingresados </label>
        <table class="table table-primary ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of arrayIds">
                <tr>
                    <th scope="row">{{item + 1}}</th>
                    <td>{{arrayCodigo[item]}}</td>
                    <td> {{arrayNombre[item]}}</td>
                    <td>$ {{arrayPrecio[item]}} </td>
                    <td>{{arrayStock[item]}}</td>
                    <td> <button type="button" (click)="eliminarDeTabla(item)" class="btn btn-success">Eliminar</button> </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>