<div class="footer">
    <footer class="row row-cols-5 py-5 my-5 border-top">
        <div class="col">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <p class="text-muted">© 2021</p>
        </div>

        <div class="col">

        </div>

        <div class="col">
            <h5>Menu</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="inicio" class="nav-link p-0 text-muted">inicio</a></li>
                <li class="nav-item mb-2"><a href="producto" class="nav-link p-0 text-muted">productos</a></li>
                <li class="nav-item mb-2"><a href="carritocompras" class="nav-link p-0 text-muted">Carrito de compras</a></li>
                <li class="nav-item mb-2"><a href="registro" class="nav-link p-0 text-muted">Registrate</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Redes Sociales</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Redes sociales</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">WhatsApp</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Nosotros </h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Quienes somos</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Acerca de </a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">politica de privacidad</a></li>
            </ul>
        </div>
    </footer>
</div>